@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The DocsReader</h1>
    <a asp-page="DocsreaderPages/Login" class="btn btn-success form-control">Log in</a>

    <p>Built For Tekeperformance</p>
</div>
